<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
	name="description"
	content="The Office (US) quotes quiz for stressed students or just to relax."
/>
<!-- css -->
<link rel="stylesheet" href="/style/style.css" />
<link rel="manifest" crossorigin="use-credentials" href="manifest.json" />
<title>The Office Quiz 2.0</title>
<!-- js -->
<script src="./scripts/main.js" defer></script>
