<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- css -->
<link rel="stylesheet" href="/style/style.css" />
<!--fonts-->
<link rel="preload" href="https://fonts.googleapis.com" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="https://fonts.gstatic.com" as="font" type="font/woff2" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Cutive&family=Lato:wght@400;700&family=Work+Sans&display=swap"
	rel="stylesheet"
/>

<link rel="manifest" crossorigin="use-credentials" href="manifest.json" />
<title>The Office Quiz 2.0</title>
<!-- js -->
<script src="./scripts/main.js" defer></script>
