// FOR GLOBAL STYLING
@use "variables";

/* work-sans-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/work-sans-v18-latin-regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/work-sans-v18-latin-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/work-sans-v18-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../fonts/work-sans-v18-latin-regular.woff") format("woff"),
		/* Modern Browsers */ url("../fonts/work-sans-v18-latin-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/work-sans-v18-latin-regular.svg#WorkSans")
			format("svg"); /* Legacy iOS */
}

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// BODY
body {
	background-color: variables.$background-color;
	color: variables.$text-light;
	font-family: "Work Sans", sans-serif;
	font-size: 1.3em;

	// NAVIGATION
	nav {
		background-color: variables.$nav-color;
		padding: 1em;
		display: flex;
		gap: 1em;
		flex-wrap: wrap;

		// NAVIGATION LINKS IN NAV
		a {
			transition: 0.2s ease-in-out;
			color: variables.$text-light;
			text-decoration: none;
			position: relative;
		}

		a::after {
			background-color: variables.$hover-nav;
			transition: all 0.2s ease-in-out;
			content: "";
			display: block;
			position: absolute;
			width: 0;
			bottom: 0;
			right: 0;
			// height of the line underneath
			height: 0.1em;
			// position of line underneath
			margin: -0.3em 0;
		}

		a:hover {
			transition: 0.2s ease-in-out;
			color: variables.$main-button;
		}

		// "animating" ::after on hover
		a:hover::after {
			background-color: variables.$main-button;
			left: 0;
			width: 100%;
		}
	}
}

// MAIN
main {
	div {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
}

// TEXT ELEMENTS
h1 {
	margin: 1.5em 1em 1em 1em;
	text-align: center;
}

p {
	max-width: 18em;
	text-align: center;
	padding: 0 1em 0 1em;
	margin: 0 1em;
}

// BUTTONS - standard use on homepage
button {
	transition: 0.2s ease-in-out;
	background-color: variables.$main-button;
	color: variables.$text-dark;
	border: none;
	padding: 0.5em 1em;
	border-radius: 0.2em;
	box-shadow: variables.$button-shadow;
	cursor: pointer;
	margin: 2em 1em 1em 0;
	font-size: 0.9em;
}

button:hover {
	background-color: variables.$hover-button;
	box-shadow: none;
}

button:focus {
	background-color: variables.$focus-button;
	box-shadow: none;
}

// GAME PAGE
#pageGame {
	margin-bottom: 5em;
	// quote area
	#game__quote {
		padding: 1.25em;
		background-color: variables.$paper-color;
		box-shadow: variables.$paper-shadow;
		color: variables.$text-dark;
	}

	// h2 of who said it
	h2 {
		margin-top: 1.5em;
		text-align: center;
	}

	// game choices container
	#game__choices {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 1em;
		gap: 1em;
	}

	// game choices individual buttons
	button {
		border: none;
		background-color: variables.$main-button;
		border-radius: 0.2em;
		color: variables.$text-dark;
		width: 6em;
		height: 6.5em;
		text-align: center;
		padding: 0.5em;
		font-size: 0.8em;
		margin: 0;
	}

	button:hover {
		background-color: variables.$hover-button;
		box-shadow: none;
	}

	button:focus {
		background-color: variables.$focus-button;
		box-shadow: none;
	}
}

// CHARACTERS PAGE

#pageCharacters {
	button {
		margin: 0;
		width: 10em;
	}

	// INPUT - used on characters page
	input {
		position: relative;
		transition: 0.2s ease-in-out;
		background-color: variables.$input-background;
		padding: 0.4em;
		border-radius: 0.2em 0 0 0.2em;
		border: 0.15em solid transparent;
		// max-width: 50%;
		width: 100%;
		font-size: 1em;
	}

	input:hover {
		outline: none;
		background-color: variables.$input-focus;
		border: 0.15em solid variables.$main-button;
	}

	input:focus {
		transition: 0.2s ease-in-out;
		outline: none;
		background-color: variables.$input-focus;
		border: 0.15em solid variables.$input-border-hover;
	}

	#searchButton {
		transform: translateX(0em);
		box-shadow: variables.$search-button-shadow;
		width: fit-content;
		transform: translateX(-0.2em);
	}

	#searchButton:hover {
		background-color: variables.$input-border-hover;
		box-shadow: none;
	}

	#searchForm {
		display: flex;
		margin-bottom: 1em;
		justify-content: center;
		padding: 0 1em;
	}

	#sortingButtons {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin: 0.5em 1em 0.5em 1em;
		gap: 1em;
	}

	h2 {
		margin-top: 1em;
	}

	// CHARACTERS TABLE
	table {
		padding-top: 1em;
		margin-bottom: 7em;

		// for the table heading: text: firstname and lastname
		th {
			padding-bottom: 0.7em;
			text-align: center;
		}

		// for the characters actual name
		td {
			padding: 0.4em 0.5em;
			border-bottom: variables.$border-bottom;
		}

		// for the firstname
		td:nth-of-type(1) {
			text-align: end;
		}

		// for the lastname
		td:nth-of-type(2) {
			transform: translateX(-0.1em);
		}
	}
}

// offline page

#offline {
	display: flex;
	justify-content: center;
	flex-direction: column;

	button {
		width: 5em;
		margin: 0 auto;
	}

	img {
		width: 50vw;
		height: auto;
		margin: 0 auto;
	}
}

a {
	color: #000;
	text-decoration: none;
}
