/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/work-sans-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/work-sans-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/work-sans-v18-latin-regular.woff2") format("woff2"), url("../fonts/work-sans-v18-latin-regular.woff") format("woff"), url("../fonts/work-sans-v18-latin-regular.ttf") format("truetype"), url("../fonts/work-sans-v18-latin-regular.svg#WorkSans") format("svg"); /* Legacy iOS */
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #134d58;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-size: 1.3em;
}
body nav {
  background-color: #0f2b36;
  padding: 1em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
body nav a {
  transition: 0.2s ease-in-out;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}
body nav a::after {
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
  height: 0.1em;
  margin: -0.3em 0;
}
body nav a:hover {
  transition: 0.2s ease-in-out;
  color: #ffcc5d;
}
body nav a:hover::after {
  background-color: #ffcc5d;
  left: 0;
  width: 100%;
}

main div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 1.5em 1em 1em 1em;
  text-align: center;
}

p {
  max-width: 18em;
  text-align: center;
  padding: 0 1em 0 1em;
  margin: 0 1em;
}

button {
  transition: 0.2s ease-in-out;
  background-color: #ffcc5d;
  color: #000000;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  box-shadow: 5px 5px #e46503;
  cursor: pointer;
  margin: 2em 1em 1em 0;
  font-size: 0.9em;
}

button:hover {
  background-color: #fba106;
  box-shadow: none;
}

button:focus {
  background-color: #e46503;
  box-shadow: none;
}

#pageGame #game__quote {
  padding: 1.25em;
  background-color: #ffffff;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.6117647059);
  color: #000000;
}
#pageGame h2 {
  margin-top: 1.5em;
  text-align: center;
}
#pageGame #game__choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
  gap: 1em;
}
#pageGame button {
  border: none;
  background-color: #ffcc5d;
  border-radius: 0.2em;
  color: #000000;
  width: 6em;
  height: 6.5em;
  text-align: center;
  padding: 0.5em;
  font-size: 0.8em;
  margin: 0;
}
#pageGame button:hover {
  background-color: #fba106;
  box-shadow: none;
}
#pageGame button:focus {
  background-color: #e46503;
  box-shadow: none;
}

#pageCharacters button {
  margin: 0;
  width: 10em;
}
#pageCharacters input {
  position: relative;
  transition: 0.2s ease-in-out;
  background-color: #ffffff;
  padding: 0.4em;
  border-radius: 0.2em 0 0 0.2em;
  border: 0.15em solid transparent;
  width: 100%;
  font-size: 1em;
}
#pageCharacters input:hover {
  outline: none;
  background-color: #ffffff;
  border: 0.15em solid #ffcc5d;
}
#pageCharacters input:focus {
  transition: 0.2s ease-in-out;
  outline: none;
  background-color: #ffffff;
  border: 0.15em solid #fba106;
}
#pageCharacters #searchButton {
  transform: translateX(0em);
  box-shadow: 3px 0px 0px #e46503;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateX(-0.2em);
}
#pageCharacters #searchButton:hover {
  background-color: #fba106;
  box-shadow: none;
}
#pageCharacters #searchForm {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  padding: 0 1em;
}
#pageCharacters #sortingButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0.5em 1em 0.5em 1em;
  gap: 1em;
}
#pageCharacters h2 {
  margin-top: 1em;
}
#pageCharacters table {
  padding-top: 1em;
  margin-bottom: 7em;
}
#pageCharacters table th {
  padding-bottom: 0.7em;
  text-align: center;
}
#pageCharacters table td {
  padding: 0.4em 0.5em;
  border-bottom: 0.1em rgb(13, 51, 53) solid;
}
#pageCharacters table td:nth-of-type(1) {
  text-align: end;
}
#pageCharacters table td:nth-of-type(2) {
  transform: translateX(-0.1em);
}/*# sourceMappingURL=style.css.map */