// src custom colors: https://htmlcolorcodes.com/tutorials/scss-color-variables/
// CUSTOM COLORS

$background-color: #2E2147;
$nav-color: #13121F;
$active-color: #00DD8D;
$hover-nav: #ffffff;
$hover-color: #00FFA3;
$text-dark: #000000;
$text-light: #ffffff;
$paper-color: #ffffff;
$paper-shadow: 10px 10px #0000009c;
$sticky-shadow: 5px 5px #0000009c;
$button-shadow: 5px 5px #E46503;
$main-button: #F3C132;
$hover-button:#fba106;
$focus-button:#E46503;
$input-background:#ebebeb;
$input-focus: #ffffff;
$input-hover:#ffffff;
$input-border-hover: #fba106;
$input-border-focus: #fb7c06;