// src custom colors: https://htmlcolorcodes.com/tutorials/scss-color-variables/
// CUSTOM COLORS

$background-color: #134d58;
$nav-color: #0f2b36;
$active-color: #00dd8d;
$hover-nav: #ffffff;
$hover-color: #00ffa3;
$text-dark: #000000;
$text-light: #ffffff;
$paper-color: #ffffff;
$paper-shadow: 10px 10px #0000009c;
$sticky-shadow: 5px 5px #0000009c;
$button-shadow: 5px 5px #e46503;
$main-button: #ffcc5d;
$hover-button: #fba106;
$focus-button: #e46503;
$input-background: #ebebeb;
$input-focus: #ffffff;
$input-hover: #ffffff;
$input-border-hover: #fba106;
$input-border-focus: #fb7c06;
