<!DOCTYPE html>
<html lang="en">
	<head>
		<%-include('../partials/head');%>
		<script src="./scripts/game.js" type="module" defer></script>
	</head>
	<body>
		<%-include('../partials/header');%>
		<main id="offline">
			<h1>Page not found</h1>
			<button><a href="/">Homepage</a></button>
		</main>
	</body>
</html>
