<!DOCTYPE html>
<html lang="en">
	<%-include('../partials/head');%>
	<body>
		<%-include('../partials/header');%>
		<main>
			<div id="pageCharacters">
				<h1>Characters</h1>
                <input id="characters__filter" placeholder="Search character"></input>
            	<div id="sortingButtons">
                	<button id="characters__sortAsc">Sort by first name ascending</button>
                	<button id="characters__sortDesc">Sort by first name descending</button>
            	</div>
			</div>
		</main>
	</body>
</html>
