<!DOCTYPE html>
<html lang="en">
	<%-include('../partials/head');%>
	<body>
		<%-include('../partials/header');%>
		<main>
			<div id="pageGame">
				<h1>The Office Quotes Quiz</h1>
				<div id="game__quote"></div>
				<div id="game__choices"></div>
			</div>
		</main>
	</body>
</html>
