<!DOCTYPE html>
<html lang="en">
	<head>
		<%-include('../partials/head');%>
	</head>
	<body>
		<%-include('../partials/header');%>
		<main>
			<div id="homepage">
				<h1>The Office Quiz</h1>
				<p>
					Welcome to The Office Quiz! Are you a stressed student and care for some laughter from The
					Office? Take a quick look at our game!
				</p>
				<button><a href="/games">Click here to start the game!</a></button>
			</div>
		</main>
	</body>
</html>
